.navs {
    display: inline-block;
    vertical-align: top;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "width" 100;
}