.navs {
    display: inline-block;
    vertical-align: middle;
    margin-right: 35px;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
header nav {
    padding-left: 137px;
    padding-top: 11px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #f5f5f5;
    height: 52px;
    z-index: 3;
}
body {
    position: relative;
    padding: 10%;
    height: 100%;
}
h1 {
    margin-bottom: 27px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.card {
    width: 362px;
    height: 357px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    margin-bottom: 57px;
}
.bottom {
    padding-top: 68px;
    padding-left: 37px;
    padding-right: 87px;
}
.bottom p {
    line-height: 2;
}
.bottom p, img {
    display: inline-block;
    vertical-align: middle;
}
.bottom p, span {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #8A8787;
}
.top {
    position: relative;
}
.top p {
    position: absolute;
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    top: 37px;
    left: 40px;    
}
.left {
    display: inline-block;
    vertical-align: top;
    width:  758px;
    margin-right: 45px;
    position: relative;
    margin-bottom: 5%;
}
.right {
    display: inline-block;
    vertical-align: top;
    width: 362px;
    margin-bottom: 5%;
}
.img1 {
    margin-bottom: 42px;
}
.img2 {
    margin-bottom: 100px;
}
.left p {
    position: absolute;
    left: 278px;
    top: 203px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    z-index: 2;    
}
footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #243043;
    padding: 59px 0 0 137px;
    height: 201px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 40px;
}
.footer-list {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #818687;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: #ffffff;
    margin: 0;
}

footer img {
    height: 50px;
    margin-right: 137px;
}
